<!-- Country Data -->

<div class="details-content">

    <div id="country-box">
        <div class="title country-title">
            <h2>{{country.countryName}}</h2>
        </div>
        <div class="details-box">
            <dl>
                <dt>Population of Country: </dt>
                <dd>{{country.population | number}}</dd>

                <dt>Area (km<sup>2</sup>): </dt>
                <dd>{{country.areaInSqKm | number}}</dd>

                <dt>Capital: </dt>
                <dd>{{country.capital}}</dd>

                <dt>Population of Capital : </dt>
                <dd>{{capitalPopulation | number}}</dd>

                <dt>Continent: </dt>
                <dd>{{country.continentName}}</dd>

                <dt>{{neighbors.length}} neighbors: </dt>
                <br>
                <br>
                <dd id="neighbors-list-dd">
                    <ul id="neighbors-list" ng-repeat="neighbor in neighbors">
                        <li><a ng-href="#/countries/{{ neighbor.countryCode | uppercase }}">{{ neighbor.countryName }}</a></li>
                    </ul>
                </dd>
            </dl>
        </div>
    </div>

    <div id="image-box">
        <div id="flag-box">
            <img id="flagImage" ng-src="http://www.geonames.org/flags/x/{{flag}}.gif" />
        </div>

        <div id="map-box">
            <img id="mapImage" ng-src="http://www.geonames.org/img/country/250/{{map}}.png" />
        </div>

    </div>

    <div class="details-buttons">
        <a href="#/home">
            <div class="btn btn-default btn-md">Back to Home</div>
        </a>
        <a href="#/countries">
            <div class="btn btn-default btn-md">Back to Countries</div>
        </a>
    </div>
</div>
