<div class="home">
    <h1>Welcome to the Countries and Capitals App</h1>

    <div class="paragraph">
        <p>This simple reference guide will allow you to explore the world with ease. Use the table to find useful data on all 195 countries, including capital cities, population, neighboring countries and more. Click 'browse countries' below to get started! </p>
    </div>

    <div class="browse">
        <a href="#/countries">
            <div class="btn btn-default btn-md">Browse Countries</div>
        </a>
    </div>

</div>
